{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules":{
      "@typescript-eslint/adjacent-overload-signatures": 2,
      "@typescript-eslint/array-type": 2,
      "@typescript-eslint/ban-ts-comment": 2,
      "@typescript-eslint/ban-types": 2,
      "@typescript-eslint/consistent-type-assertions": 2,
      "@typescript-eslint/explicit-module-boundary-types": 2,
      "@typescript-eslint/no-explicit-any": 2,
      "@typescript-eslint/no-unused-vars": 2,
      "@typescript-eslint/no-extra-non-null-assertion": 2,
      "@typescript-eslint/no-for-in-array": 2,
      "@typescript-eslint/no-inferrable-types": 2,
      "@typescript-eslint/no-invalid-void-type": 2,
      "@typescript-eslint/no-misused-new": 2,
      "@typescript-eslint/no-namespace": 2,
      "@typescript-eslint/no-non-null-asserted-optional-chain": 2,
      "@typescript-eslint/no-non-null-assertion": 2,
      "@typescript-eslint/no-this-alias": 2,
      "@typescript-eslint/no-var-requires": 2,
      "@typescript-eslint/prefer-as-const": 2,
      "@typescript-eslint/prefer-namespace-keyword": 2,
      "@typescript-eslint/triple-slash-reference": 2,
      "@typescript-eslint/no-empty-function": 2,
      "@typescript-eslint/no-extra-semi": 2,
      "@typescript-eslint/object-curly-spacing": 2,
      "@typescript-eslint/space-before-function-paren": 2,
      "@typescript-eslint/space-infix-ops": 2
    }
}
